[2021-06-06 13:15] tomquinn04 opened #8 "creating extensions goes to the wrong extensions page"
When creating an extension from the SCCP Manager Phone Manager page, it redirects to the 'main' freepbx extension manager page rather than going back to the phone manager page.

[2021-06-06 13:16] tomquinn04 opened #9 "collation is not in sync"
Error when opening the phone manager page:

[code]

(@dkgroot knows about this)

[2021-06-07 10:25] steve-lad commented on #9
@tomquinn04 Assuming that you can connect to your database, could you post the output of

SHOW TABLE STATUS WHERE NAME LIKE 'sccp%';

and add the result here

[2021-06-07 10:46] tomquinn04 commented on #9
[code]

@steve-lad

[2021-06-07 11:12] steve-lad commented on #9
@tomquinn04

[edited to correct backup for MariaDb]
I am not sure how you arrived there.....but to fix I suggest the following steps. You need to add file path to somewhere that you will remember in step 1. Execute step by step rather than as a single transaction.

_In the shell, create a backup_
1. mysqldump -p asterisk > 'filepath'

_login to the database_
1. USE asterisk;
2. ALTER TABLE sccpbut

[2021-06-07 11:14] tomquinn04 commented on #9
is step 1 a command, or do you just mean go into `mysql asterisk` @steve-lad

[2021-06-07 11:18] steve-lad commented on #9
Its a command - make sure that you are connected to the right database!

[2021-06-07 11:18] tomquinn04 commented on #9
@steve-lad

[2021-06-07 11:19] tomquinn04 commented on #9
oh

[2021-06-07 11:19] tomquinn04 commented on #9
i am bad at github.. hehe

[code]
getting an error in step 2 @steve-lad

[2021-06-07 11:27] steve-lad commented on #9
@tomquinn04
exit mysql;

in the shell,

 mysqldump -p asterisk > 'filepath'

Then log into the database, and proceed from step 3

[2021-06-07 11:45] steve-lad commented on #9
@tomquinn04

I have revised the steps, so deleted the intermediate so that other users who find this see a clear answer.
Please close the issue when all is good - This is not an Sccp_Manager issue.

[2021-06-07 11:47] #9 closed, assigned to nobody

[2021-06-11 06:58] #8 closed, assigned to nobody

[2021-06-11 08:25] steve-lad opened #12 "Installer fails at database creation"
chan-sccp/chan-sccp#572

[2021-06-11 08:34] steve-lad commented on #12
The Stable branch will not fix errors in the user configuration.

The Develop branch should do this. The install error that you are seeing is caused by the fact that FreePbx Doctrine cannot parse correctly the files that it creates (unfortunately)

The Doctrine output has been corrected in the latest Develop branch (it may take some time for GitHub to propagate it to the snapshot).

Please try aga

[2021-06-11 09:26] steve-lad opened #14 "Timezone defaults to GMT"
PhantomVl/sccp_manager#111

[2021-06-11 22:53] vaDrn commented on #12
Got same error during install. Link I used https://github.com/chan-sccp/sccp_manager/archive/refs/heads/develop.zip

![image](https://user-images.githubusercontent.com/48777021/121755804-3b7ebc00-cb6c-11eb-9e46-c2e4a7b2c521.png)

[2021-06-12 06:41] steve-lad commented on #12
The error is not the same but the result is.
Please paste the exact contents of the exception in the top left box - the command looks good

[2021-06-12 06:48] steve-lad commented on #12
@vaDrn In module admin, before trying to install this module, check for FreePBX module updates for your already installed modules, and apply any that are found

[2021-06-12 08:24] vaDrn commented on #12
updated all FreePBX modules. Still error during install

Text of the exception:
`
An exception occurred while executing 'CREATE TABLE sccpbuttonconfig (ref VARCHAR(15) DEFAULT '' NOT NULL, reftype VARCHAR(15) DEFAULT 'sccpdevice' NOT NULL, instance TINYINT(1) DEFAULT '0' NOT NULL, buttontype VARCHAR(255) DEFAULT 'line' NOT NULL, name VARCHAR(36) DEFAULT NULL, options VARCHAR(100) DEFAULT NULL, IND

[2021-06-12 12:36] steve-lad commented on #12
@vaDrn That command executes perfectly on Mariadb - what database are you using?

Are you familiar with accessing the database directly? If so can you run

SHOW TABLE STATUS WHERE NAME LIKE 'sccp%';

and paste the output here

I think that the issue is that you have run the mysql-enum as indicated in the old wiki instructions. This step is no longer necessary and in fact creates problems like this

[2021-06-12 13:12] vaDrn commented on #12
It's database that goes preinstalled on FreePBX iso. I thought it was mariadb. Here is the version command output:
![image](https://user-images.githubusercontent.com/48777021/121776868-3e68c380-cbe3-11eb-997d-a9b67fb01622.png)

here is the table status output:
![image](https://user-images.githubusercontent.com/48777021/121776932-a9b29580-cbe3-11eb-8d75-5dc1c72103da.png)

I followed this instructio

[2021-06-12 13:19] vaDrn commented on #12
so no any sccp tables.
![image](https://user-images.githubusercontent.com/48777021/121777189-e763ee00-cbe4-11eb-9168-6b615dde0cef.png)

still got error during install
[code]

[2021-06-12 13:23] steve-lad commented on #12
@vaDrn No need - there are no conflicts in your tables. I have a fix (I think), but would really like to understand why this is failing on your machine and not on any others

can you do an

apt-get update;
apt-get upgrade;

(or the equivalent on your machine)
to see if there are any update packages for MariaDb

[2021-06-12 13:26] vaDrn commented on #12
FreePBX based on CentOS I think.  `yum update` `yum upgrade` was the fist thing I made.

![image](https://user-images.githubusercontent.com/48777021/121777576-006d9e80-cbe7-11eb-9817-75fbc113ac7a.png)

tried to install `stable` one again, no errors during install. Table status command output:
![image](https://user-images.githubusercontent.com/48777021/121777382-d798d980-cbe5-11eb-966e-f0b3ba69e118

[2021-06-12 13:34] steve-lad commented on #12
@vaDrn There is an error in your database now, and it will prove fatal at some stage. You are mixing encodings in the view.

Can you do the following.

Uninstall and remove Stable
Download and install Develop (until it hangs)

In the database, run

SHOW TABLE STATUS WHERE NAME LIKE 'sccp%';

and paste the output again.

[2021-06-12 13:40] vaDrn commented on #12
i'm not mixing anything - it's created purely by `stabe` release installation.
I removed `stable` release and installed `develop` one. No error during install. Here is the status output:
![image](https://user-images.githubusercontent.com/48777021/121777834-28a9cd00-cbe8-11eb-8f56-15f63fba6fac.png)

also sccp module info:
![image](https://user-images.githubusercontent.com/48777021/121777863-5099308

[2021-06-12 13:44] vaDrn commented on #12
![image](https://user-images.githubusercontent.com/48777021/121777979-de751b80-cbe8-11eb-8d52-b994dc01c955.png)

yep, fatal it is

[2021-06-12 13:45] steve-lad commented on #12
@vaDrn Are you using CENTOS 5 or 7?

[2021-06-12 13:47] vaDrn commented on #12
It's 7...?
![image](https://user-images.githubusercontent.com/48777021/121778063-43307600-cbe9-11eb-84c6-216f5e5966cf.png)

[2021-06-12 13:48] vaDrn commented on #12
hmm
![image](https://user-images.githubusercontent.com/48777021/121778094-6ce99d00-cbe9-11eb-8e64-8c89e6939bcb.png)

[2021-06-12 13:58] steve-lad commented on #12
@vaDrn OK Lets fix this. You need to update MariaDb and I will show you how to.

Logout and close FreePBX window

rm -r /var/www/html/admin/modules/sccp_manager/

run this in the Database

Drop table sccpbuttonconfig; drop table sccpuser; drop view sccpdeviceconfig;

Let me know when done

[2021-06-12 14:05] vaDrn commented on #12
done
only sccpdevice, sccpdevmodel, sccpline and sccpsettings tables left

[2021-06-12 14:07] steve-lad commented on #12
cd /etc/yum.repos.d/

using your favourite editor create a file called MariaDB.repo

and paste the following into it:

[code]

Save the file

let me know when done

[2021-06-12 14:10] vaDrn commented on #12
done

[2021-06-12 14:11] steve-lad commented on #12
yum install MariaDB-server MariaDB-client

[2021-06-12 14:17] vaDrn commented on #12
done

[2021-06-12 14:17] vaDrn commented on #12
got error from firewall `Firewall was unable to connect to MySQL after 30 seconds.`

[2021-06-12 14:18] steve-lad commented on #12
mysql -V

[2021-06-12 14:18] vaDrn commented on #12
now it's spams it constantly

[2021-06-12 14:19] vaDrn commented on #12
`mysql  Ver 15.1 Distrib 10.5.10-MariaDB, for Linux (x86_64) using readline 5.1`

[2021-06-12 14:19] steve-lad commented on #12
Firewall messages stopped?

[2021-06-12 14:20] vaDrn commented on #12
nope. still going

[2021-06-12 14:20] steve-lad commented on #12
dirty but a reboot is probably required

[2021-06-12 14:24] vaDrn commented on #12
it's dead after reboot
![image](https://user-images.githubusercontent.com/48777021/121779190-880adb80-cbee-11eb-960a-320ab4d0ed2f.png)

[2021-06-12 14:26] vaDrn commented on #12
bunch of errors after mariadb startup
![image](https://user-images.githubusercontent.com/48777021/121779217-c7392c80-cbee-11eb-9135-6e902e69076b.png)

[2021-06-12 14:37] steve-lad commented on #12
Have you tried running mysql_upgrade?

[2021-06-12 14:41] vaDrn commented on #12
after mysql_upgrade
![image](https://user-images.githubusercontent.com/48777021/121779653-dd47ec80-cbf0-11eb-9a55-c134339870fa.png)

[2021-06-12 14:42] steve-lad commented on #12
Does FreePBX load?

[2021-06-12 14:49] vaDrn commented on #12
nope. FreePBX won't load. MariaDB and asterisk won't start after reload. I can start them manually after `systemctl daemon-reload` command. FreePBX won't run at all

[2021-06-12 14:51] steve-lad commented on #12
Are you on a VM?

[2021-06-12 14:51] vaDrn commented on #12
yes. I have snapshots before db update

[2021-06-12 14:52] steve-lad commented on #12
So ---- rollback. Sorry but FreePBX are !!!! about their distros. Keep a snapshot of the present though and I will look into it more

[2021-06-12 14:53] steve-lad commented on #12
Once you have done, let me know what tables you have for sccp

[2021-06-12 14:57] vaDrn commented on #12
sorry, I was wrong. I only have snapshots before sccp manager installs. So there are no sccp tables in db.

[2021-06-12 14:58] steve-lad commented on #12
No pb

Download Develop and install (wait for the error)

[2021-06-12 14:59] steve-lad commented on #12
Sorry - do not install

[2021-06-12 15:00] steve-lad commented on #12
cd /var/www/html/admin/modules/sccp_manager

[2021-06-12 15:03] vaDrn commented on #12
done

[2021-06-12 15:07] steve-lad commented on #12
OK I think that I have seen the issue

In your favourite editor, edit module.xml and go to line 128

[2021-06-12 15:09] vaDrn commented on #12
done

[2021-06-12 15:09] vaDrn commented on #12
`<field name="buttontype" type="string" default="line" primarykey="true"/>`

[2021-06-12 15:09] steve-lad commented on #12
change to

[code]

and save

[2021-06-12 15:10] vaDrn commented on #12
done

[2021-06-12 15:10] steve-lad commented on #12
Now try running install

[2021-06-12 15:12] vaDrn commented on #12
error:
`
An exception occurred while executing 'CREATE TABLE sccpbuttonconfig (ref VARCHAR(15) DEFAULT '' NOT NULL, reftype VARCHAR(15) DEFAULT 'sccpdevice' NOT NULL, instance TINYINT(1) DEFAULT '0' NOT NULL, buttontype VARCHAR(192) DEFAULT 'line' NOT NULL, name VARCHAR(36) DEFAULT NULL, options VARCHAR(100) DEFAULT NULL, INDEX ref (ref, reftype), PRIMARY KEY(ref, reftype, instance, buttontype)) D

[2021-06-12 15:14] steve-lad commented on #12
Edit the file again and change the length from 192 to 150

[2021-06-12 15:15] steve-lad commented on #12
and try install ... again

[2021-06-12 15:18] vaDrn commented on #12
installed with no errors
tables:
![image](https://user-images.githubusercontent.com/48777021/121780773-f2734a00-cbf5-11eb-9b77-df9d1a6e7801.png)

and sccp info:
![image](https://user-images.githubusercontent.com/48777021/121780800-0ae36480-cbf6-11eb-9931-1c0542b4f3e9.png)

[2021-06-12 15:20] steve-lad commented on #12
OK looks good.

As you are a maso, uninstall Sccp manager, and change the length again to 190, and then reinstall

[2021-06-12 15:23] vaDrn commented on #12
this is new
![image](https://user-images.githubusercontent.com/48777021/121780944-ad9be300-cbf6-11eb-962b-15dab5a2c198.png)

[2021-06-12 15:23] vaDrn commented on #12
it shows as uninstalled anyway

[2021-06-12 15:24] steve-lad commented on #12
No sweat - thats normal.

Wait a sec please

[2021-06-12 15:25] vaDrn commented on #12
![Uploading image.png…]()

[2021-06-12 15:25] vaDrn commented on #12
![image](https://user-images.githubusercontent.com/48777021/121781006-f8b5f600-cbf6-11eb-8f75-3e97ef090267.png)

[2021-06-12 15:25] steve-lad commented on #12
You are too fast

Uninstall again please

[2021-06-12 15:26] steve-lad commented on #12
That was my mistake btw

[2021-06-12 15:26] vaDrn commented on #12
uninstalled. length set to 190

[2021-06-12 15:27] steve-lad commented on #12
now in db
[code]

[2021-06-12 15:27] steve-lad commented on #12
and then install

[2021-06-12 15:30] vaDrn commented on #12
it still working. we have to do something about it
![image](https://user-images.githubusercontent.com/48777021/121781161-97daed80-cbf7-11eb-9251-cd0cfe017e8a.png)

[2021-06-12 15:30] vaDrn commented on #12
update mariadb or something

[2021-06-12 15:33] steve-lad commented on #12
You have a very old version of MariaDb - an indexed field that can be NULL has a max length of 190

[2021-06-12 15:35] steve-lad commented on #12
But you are probably not alone with these distros, so I will look at the impact of changing the length.

In the meantime, try again to update MariaDB but FIRST, uninstall MariaDB, then add the repo, and install. That may work better

[2021-06-12 15:37] steve-lad commented on #12
Thanks for your patience and excellent feedback

[2021-06-12 15:38] steve-lad commented on #12
Comment here if you succeed in updating MariaDB

... and now, get some sleep!

[2021-06-12 15:40] vaDrn commented on #12
Aye Aye

[2021-06-12 15:40] steve-lad commented on #12
and finally, you can revert to stable at any time as the tables have been created, and your extconfig is correct.

What is in extconfig.conf, as the installer has updated extconfig.custom.conf?

[2021-06-12 15:42] vaDrn commented on #12
yep. custom one is updated:
![image](https://user-images.githubusercontent.com/48777021/121781532-5b0ff600-cbf9-11eb-97e6-f187f6186cee.png)

[2021-06-12 15:42] steve-lad commented on #12
but what is in the base?

[2021-06-12 15:43] vaDrn commented on #12
![image](https://user-images.githubusercontent.com/48777021/121781567-809cff80-cbf9-11eb-9369-882c3962ae6e.png)

[2021-06-12 15:43] steve-lad commented on #12
Are you joking?

[2021-06-12 15:45] steve-lad commented on #12
Sorry what is in /etc/extconfig.conf?

[2021-06-12 15:45] vaDrn commented on #12
mah bad. got it wrong - base one is empty
![image](https://user-images.githubusercontent.com/48777021/121781644-e7221d80-cbf9-11eb-8620-618ef8adc51b.png)

[2021-06-12 15:48] steve-lad commented on #12
So:
[code]
and you are clean

[2021-06-12 15:53] steve-lad commented on #12
And please, tomorrow, close this issue. It is the db at fault and not sccp_manager

[2021-06-12 15:53] vaDrn commented on #12
Trying to add sccp extension
![image](https://user-images.githubusercontent.com/48777021/121781852-d0c89180-cbfa-11eb-8897-43420bfdffab.png)

[2021-06-12 15:54] vaDrn commented on #12
if i try to add it again i've got an error that this number is already taken. `realtime load sccpline id 1` return nothing

[2021-06-12 15:55] steve-lad commented on #12
Create a new issue - this is Develop, but I am really concerned that it is related to the age of your install

This is the first time that I have seen this!!

[2021-06-12 15:58] steve-lad commented on #12
Ahh you are adding extensions via Extensions and not via add Phone. Create a new issue and I will look at it

[2021-06-12 15:58] vaDrn commented on #12
welp. it's official distro from freepbx.org. Even wiki says to download from there

[2021-06-12 16:00] vaDrn commented on #12
anyway. **HUGE** thanks for your time. I'll make other issue ticket tomorrow

[2021-06-13 01:02] vaDrn opened #15 "FreePBX "Quick create extension" error on creation of new sccp line"
adding sccp extension through "Quick create extension" window fails with error:
![image](https://user-images.githubusercontent.com/48777021/121792309-5ffb9680-cc47-11eb-9015-76e12eb200e5.png)

In mysql sccpline table there will be no new lines.

Addition of new extensions works properly through `sccp manager` UI

[2021-06-13 04:56] steve-lad commented on #12
@vaDrn Could you please let me know which FreePBX distro you installed?

[2021-06-13 05:21] vaDrn commented on #12
default one on freepbx download page `https://www.freepbx.org/downloads/`. sng7-pbx-64bit-2104-1. release date: April 2021

[2021-06-13 06:28] #12 closed, assigned to nobody

[2021-06-13 07:10] #15 closed, assigned to nobody

[2021-06-13 07:47] steve-lad commented on #9
This issue will be seen if the following conditions are met:

Using old version of MariaDB (build 5 as is included in some distros)
First time use of Sccp_Manger;
Install older versions of Develop branch;   (DOES not apply to current Develop)
Install fails at Database Creation;
Install Stable;

Cause
Develop uses different collation than Stable (Develop uses FreePBX defaults)

Workarounds:
Follow

[2021-06-13 07:50] steve-lad commented on #15
@vaDrn This has been fixed in current Develop. Download Develop as in the wiki (module admin does not work at present due to FreePBX issue; patch proposed to FreePBX)

[2021-06-13 08:21] vaDrn commented on #15
just to be sure: i need to uninstall sccp manager, remove it and then redownload it as in wiki install instructions?

will this work:
[code]
so that I can update it through

[code]

[2021-06-13 08:34] steve-lad commented on #15
If you use git, you will break future functionality, and you will not be forced to use the installer. As you have seen, the installer is important.

Do not use uninstall - you will lose data!

Just  redownload using module admin, install.

[2021-06-13 13:43] #14 closed, assigned to nobody

[2021-06-19 09:01] vaDrn opened #20 "Missing SCCP tab in Extension edit page"
There is missing `SCCP` tab on the Extension edit page, as well as on the page for creating a new extension SCCP.
This tab allows you to configure additional line options, as well as used codecs for a specific device.

how it looks on version from this git:
![image](https://user-images.githubusercontent.com/48777021/122636732-e1b75c80-d13e-11eb-8ed5-eb2269ea359e.png)

how it should be (version fro

[2021-06-19 13:24] #20 closed, assigned to nobody

[2021-06-19 13:41] steve-lad commented on #20
Thanks to @vaDrn for reporting this issue, and for helping in its resolution

[2021-06-21 07:24] vaDrn opened #22 "Cyrillic symbols support issue"
The phone displays gibberish instead of Cyrillic characters.
Was tested on phone cisco 7960

file /var/www/html/admin/modules/sccp_manager/conf/Sccp.class.php.v433 from old Install of PhantomVl's version of `sccp manager`:

[code]

[2021-06-23 01:48] vaDrn opened #23 "Regex errors in rewrite.rules file for `sccp Provision`"
`sccp manager` have support for provision module from this `git: https://github.com/dkgroot/provision_sccp`.
But file `sccp_manager/contrib/rewrite.rules` that goes with `sccp manager` contains regex expression errors.
I fixed errors that I found while testing tftp provision with 7911/12/14/40/60 cisco phone models:

[rewrite.zip](https://github.com/chan-sccp/sccp_manager/files/6698338/rewrite.zip

[2021-06-27 00:07] dkgroot commented on #23
@vaDrn Thanks for providing these fixes. I will make some time tomorrow to look them over, find the differences and update them where necessary.

[2021-06-30 01:45] vaDrn opened #25 "Secondary addon module issue"
SEPXXX.cnf.xml file generated by `sccp manager` contains only one entry for an addon module.
I tried adding cisco 7960 with two 7914 expansion modules and cisco 7965 with two 7916 modules with same results. Generated .cnf.xml file looks like this:
[code]

Everything works without issues if I add second addon module entry manually through text editor:
[code]

[2021-07-03 08:52] dkgroot commented on #25
Hmm I thought i had already addressed this in one but apparently was only a partial PR
https://github.com/PhantomVl/sccp_manager/pull/105

@steve-lad Should at least give an indication where to look (I hope)

[2021-07-06 06:21] steve-lad commented on #25
@dkgroot Could you please copy/move this PR to chan-sccp/sccp_manager?

[2021-07-06 07:08] #25 closed, assigned to steve-lad

[2021-07-06 07:10] steve-lad commented on #25
@vaDrn Please could you verify this fix - the xml in the cnf is not so elegant but should work.
@dkgroot has proposed a separate modification to tidy up the xml

[2021-07-06 08:05] steve-lad commented on #25
Fixes issue PhantomVl/sccp_manager#104

[2021-07-06 08:45] vaDrn commented on #25
Yes, everything seems to be working fine. Generated cnf file looks correct. @steve-lad HUGE thanks for you work

[2021-07-10 11:09] #23 closed, assigned to dkgroot

[2021-07-10 17:30] dkgroot commented on #23
Copied the changes into provision_sccp as well. Thanks !

[2021-07-24 15:37] dkgroot opened #28 "Device SEP ID Field"
When creating a new device it only asks for the MAC address of the device and then proceeds to call it SEPxxxxxxx in the list and displays it in this strange 4,4,4 representation when you click the device edit button. There are some things that trouble me a little with this.

1. If MAC representation is what we wanted we would expect : as the separator (right).
2. Some SCCP devices don't use SEPxx

[2021-07-24 15:47] dkgroot opened #29 "Hotline / Auto Provision support"
When you enable "hotline" in 'SCCP Server Settings':'SCCP Device' chan-sccp will allow unknown devices to register to chan-sccp and will automatically assign them a so called 'Hotline' / PLAR (Private Line Automatic Ringdown) extension . This is a somewhat insecure setting for production environments but very nice when you are setting up a new environment with a large number of phones.

I noticed

[2021-07-30 18:22] #28 closed, assigned to nobody

[2021-07-30 18:24] dkgroot commented on #28
Left over part of the original ticket might be:

If you like we can put that in a new ticket.

[2021-08-27 20:45] xfn2020 opened #31 "could not install sccp_manager"
Ubuntu 20.04. asterisk 16 freepbx 15. chan-sccp compiled, installed and installed by given instruction. But can't install sccp_manager, getting a message:

Installing sccp_manager
Updating tables sccpdevice, sccpline, sccpbuttonconfig, sccpdevmodel, sccpuser, sccpsettings...Done
Checking for required Sccp_manager database tables..
Checking Asterisk Version :
Sccp model Compatible code :

Chan Sccp

[2021-09-02 09:10] steve-lad commented on #31
This is not an sccp_manager issue. Asterisk has not been set up correctly for RealTime and does not see chan-sccp. Either extconfig.conf or res_mysql_conf.conf are incorrect (or both) but most probably the first as freepbx should take care of the second

[2021-09-02 09:10] #31 closed, assigned to nobody

[2021-09-22 07:49] szenzero opened #32 "Additional (secondary/tertiary) Asterisk node config in multinode environment"
Hi,

In a multinode environment (2 nodes at least; primary/secondary, or as Cisco calls it, publisher and subcscriber(s)), phones have the ability to register to the primary node and open a TCP/SCCP connection toward the secondary (and tertiary) nodes (3 nodes max. in a call manager group according to Cisco).
When the primary node fails (TCP or SCCP keepalives are lost), phone reverts to next one

[2021-09-22 12:21] szenzero opened #33 "Config backup/restore via FreePBX backup module"
FPBX 15 has redefined the way it manages backup procedure. In short, every module is in charge of its own data. Could we (I mean you) make sccp_manager compatible with fpbx backup?

More here: https://wiki.freepbx.org/pages/viewpage.action?pageId=114852215
And developer stuff here: [https://wiki.freepbx.org/display/FOP/Implementing+Backup](https://wiki.freepbx.org/display/FOP/Implementing+Backup)

[2021-09-22 12:38] szenzero opened #34 "Bulk import/export of extensions/phones"
A feature [Bulk Handler](https://wiki.freepbx.org/display/FPG/Bulk+Handler) module provides for extensions/DISs/routes would be nice to have.
The idea is to populate a csv file with required values (MAC, type, line, etc) and feed it to parser. Also, it should be able to export  values in database back to csv.

[2021-09-28 18:48] szenzero commented on #32
Found a way to configure multiple CM nodes in phone xml files (sort of)... The setting we need here is called "Device Connect Address / Name" found in Server config -> Site Default Settings -> SCCP Networks

![Snimka zaslona 2021-09-28 180553](https://user-images.githubusercontent.com/50993009/135125062-c030b507-619c-44d2-8d19-be7d3dd1a52a.jpg)

So, to add two CM nodes (primary and secondary), you

[2021-09-29 06:33] cagriaksu opened #71 "Call Transfer Issue"
Hello,

When I try to transfer a call by pressing the transfer soft button "Key is Not Active" is displayed on the screen.

I tried re-compiling from source with --enabled-advaned-functions, but to avail, still getting the same result on both a 7962 and 7975.

[2021-10-02 15:08] Terrabytee commented on #71
Sorry I have nothing to add OP but I want to confirm the same is happening with me as well.

[2021-10-05 10:55] szenzero commented on #32
I guess this could be considered as a bug report in the v14.2 branch (as the enhancement/feature is already there: multiple "Device connect address" entries in server config)...

I've just installed the develop branch module and adding multiple device connect addresses as well as "allow networks", "deny networks", "local networks" addresses work as expected.

[2021-10-21 11:12] hboetes opened #70 "outbound CID also used for internal calls"
I just noticed, if I set the outbound CID for an SCCP phone, internal calls from that phone also get that CID.

Here is the debug log from a call, with the external number replaced with XXXXX

[code]

[2021-10-22 15:41] rofferman opened #35 "HTTP Provisioning in version 14.3"
Can we add Http Provisioning to version 14.3 I believe that the previous versions did have this option, but with 14.3 not having an index.php in the /tftpboot directory I get an error when I go to \<pbxipaddress>:6970.

[2021-11-19 20:32] torowi opened #36 "md5sum did not match"
Hi,
while upgrading from 14.2.0.1 to 14.2.0.3 via Module Admin I got following error:

Downloading and Installing sccp_manager
Downloading sccp_manager 0 of 143 (0%)
Error(s) downloading sccp_manager:

    File Integrity failed for /var/www/html/admin/modules/_cache/v14.2.0.3.tar.gz - aborting (md5sum did not match)

[2021-11-25 21:46] luna-xenia commented on #71
Exact same issue here with 7962G

[2021-11-27 13:34] steve-lad commented on #36
This is a bug with FreePbx pending resolution. A patch has been submitted.

FreePbx use a put instead of a get and GitHub baulks, hence the checksum error.

Upgrading to 14.3 will stop module admin trying to download a new version, as no higher versions are available

[2021-11-27 13:34] #36 closed, assigned to nobody

[2021-11-27 13:59] steve-lad commented on #35
Note for future: Old index.php was part of provision

https://github.com/dkgroot/provision_sccp/blob/master/tftpboot/index.php

Need to integrate into installer

[2021-11-30 23:03] waffle-stomper opened #38 "FreePBX wants to downgrade v14.3.0.13 to v14.2.0.1"
I think the issue might be the version numbers in https://github.com/chan-sccp/sccp_manager/blob/develop/sccpManagerUpdater.json on lines 5 and 18:

https://github.com/chan-sccp/sccp_manager/blob/2b90440df7816697b16b29e17a2c70e2827809e3/sccpManagerUpdater.json#L5

https://github.com/chan-sccp/sccp_manager/blob/2b90440df7816697b16b29e17a2c70e2827809e3/sccpManagerUpdater.json#L18

[2021-12-02 02:23] waffle-stomper opened #39 "SCCP Manager throws an exception on a fresh install if you choose the wrong menu item"
### Steps to reproduce:

1. Install the [FreePBX 16 distro](https://downloads.freepbxdistro.org/ISO/SNG7-PBX16-64bit-2109-3.iso)
2. Install Chan SCCP
3. Install SCCP Manager from the command line
`fwconsole ma downloadinstall https://github.com/chan-sccp/sccp_manager/archive/refs/tags/14.3.0.13.zip`
4. In the FreePBX web UI, go to Sccp Connectivity > System Parameters

This throws the following ex

[2021-12-03 05:58] waffle-stomper commented on #29
@dkgroot - I think this was added in 5bfa3bc9309564076ddc4999dda3664e74e69543

[2021-12-06 10:51] FrozenHaxor commented on #38
I keep having an issue with this also, every week when automatic updater runs, module performs a downgrade and breaks the system.

[2021-12-20 20:46] tclela20 opened #40 "Failure during SCCP Manager Install, cannot find chan-sccp"
Hello,

I am attempting to install the Chan SCCP manager into an Asterisk/FreePBX system. The system is online, and the chan_sccp module is loaded. I have done the following:

      - [X] Built and Installed chan_sccp
      - [X] Setup the SCCP contents of /etc/asterisk
      - [X] Loaded firmware and xml files to /tftpboot
      - [X] Followed the instructions for setting up the realtime database

[2021-12-26 14:42] steve-lad commented on #38
Could you please post a capture of module admin for sccp_manager - I do not see this issue

[2021-12-26 20:33] waffle-stomper commented on #38
![sccp_manager_downgrade](https://user-images.githubusercontent.com/5958168/147419350-33f66722-708d-4106-9ca2-2b1919d3400c.png)

[2021-12-27 10:13] steve-lad commented on #39
Fixed in 14.3.0.15 (current develop)

[2021-12-27 10:13] #39 closed, assigned to nobody

[2021-12-27 10:21] steve-lad commented on #40
This is most probably an issue with the realtime config. Upgrade to version 14.3.0.13 which will fix any realtime config issues.

Closing as this is not an sccp_manager issue.

[2021-12-27 10:21] #40 closed, assigned to nobody

[2021-12-27 10:27] steve-lad commented on #38
Thanks for the capture. Module admin appears to be working correctly as the user has to force a downgrade which normally one would not do.

Automatic update clearly has a bug that is implementing the downgrade when freepbx knows that it has the latest version.

However this also appears to confirm that the online upgrade freepbx bug is fixed, and so I will now update the online version. Check late

[2021-12-27 21:10] waffle-stomper commented on #38
Thanks for looking into this!

The good news is that I'm now offered the latest version (14.3.0.16). Unfortunately when I try to upgrade via the web UI, I get the following error:

[code]

Interestingly, upgrading from the command line (fwconsole ma upgrade sccp_manager) was successful.

After the upgrade, the Module Admin page no longer offers to downgrade the module, but the status is 'Enabled;

[2021-12-28 06:58] steve-lad commented on #38
The File integrity error bug is in freepbx - it has been reported but no progress as yet. They had already fixed part of this issue previously, and I guess that is why the upgrade via fwconsole works (different entry point).

The not available online is because in the trial image, the version is 14.3.0.15 but is labelled as 14.3.0.16.

This also explains why the automatic update worked (incorrectl

[2021-12-28 07:13] steve-lad commented on #38
Closing this issue as it is a freepbx issue.

[2021-12-28 07:13] #38 closed, assigned to nobody

[2021-12-28 14:08] steve-lad opened #42 "Vendor config settings not set in cnf file"
Reported by @FrozenHaxor

It seems that the generated CNF files do not reflect the vendor config correctly, I changed the phone display timeout settings and saved them, then generated new CNF files and it populated the variables with default values anyway

Plus there is a naming duplication

![](https://files.gitter.im/5c346716d73408ce4fb3f89b/Rzyi/obraz.png)

![](https://files.gitter.im/5c346716d

[2021-12-28 14:53] FrozenHaxor commented on #42
Yes, forgot to enter the issue, sorry. I confirm this, and upon manually editing the CNF file the phones accepted the settings properly. Changing the phone settings from web panel resets the variables to default in the CNF file again ignoring user input in the context boxes.

[2021-12-28 15:08] steve-lad commented on #42
Issue should be closed in version 14.3.0.18

[2021-12-28 15:08] #42 closed, assigned to nobody

[2021-12-29 08:22] steve-lad opened #44 "Various DND settings not saved or cause chan-sccp error"
Reported by @rofferman

1.  Not able to turn on DND in Device Configuration? I turn it on but when I save and go back to the device it is still off.
2. chan-sccp reports error with dnd setting

ERROR[6720]: sccp_config.c:588 sccp_config_object_setValue: SCCP: obsolete config param at dnd='reject' in line 58
(OBSOLETE) Turn on the dnd softkey for all devices. Valid values are 'off', 'on' (replaced

[2021-12-29 11:44] steve-lad commented on #44
1. Fixed in version 14.3.0.19
2. This is not an sccp_manager issue. This setting is probably set in sccp.conf

[2021-12-29 12:17] steve-lad commented on #44
The sccp.conf file causing the second problem was possibly written by sccp_manager.

Next release will only write a minimal sccp.conf file necessary to meet asterisk (chan-sccp) requirements

[2021-12-30 09:56] steve-lad commented on #44
Fixed in version 14.3.0.20

[2021-12-30 09:56] #44 closed, assigned to nobody

[2021-12-30 10:03] steve-lad opened #47 "General settings revert to defaults on successive saves"
If successive saves are made in general settings, values revert to defaults. Successive saves should not change values

[2021-12-30 14:27] #47 closed, assigned to steve-lad

[2021-12-30 14:42] steve-lad opened #49 "KeepAlive field not editable"
When changing from system default, value is not saved

[2021-12-30 14:44] steve-lad opened #50 "Reverting numeric values to system defaults creates empty entry"
If a numeric field has been changed, when clicking on revert to system default, the default value is not entered, and an empty value is saved.

Clicking on revert should place and save the system default

[2021-12-31 14:34] #50 closed, assigned to nobody

[2022-01-01 11:45] #49 closed, assigned to nobody

[2022-01-02 06:55] waffle-stomper commented on #71
I'm having the same issue on a 7962 and 7937.

For me at least, the issue seems to be the line.

I go to SCCP Connectivity > Phones Manager > [Edit Extension] > Advanced, set 'Call Transfer' to 'Yes' and click 'Save'.

When the page reloads, 'Yes' is no longer selected.

This is confirmed by `sccp show line 201`:

[code]

Interestingly, using the blind transfer feature code (i.e. `##<extension>`)

[2022-01-02 14:06] steve-lad opened #53 "SIP device add assigns sccp line and not sip line"
Reported by @nortien

When creating a new SIP device, the default line assigned is an sccp line and not a sip line. Device create then fails as no line found which results in an exception.

Workaround: edit device buttons and this proposes only SIP lines

[2022-01-02 14:08] steve-lad opened #54 "SIP add device causes exception if no sip line has been assigned to the device"
Issue raised by @nortien

When creating a sip device, an exception occurs if the default line is not a sip line.

Need to check if have a sip line and fail gracefully if no sip line assigned - the exception is with SEP creation, and so can complete save, but warn that SEP file not created

[2022-01-03 22:54] samam9911 opened #55 "sccp_manager fails to install"
I just installed the freepbx 15 distro with asterisk 18. I did yum update and also updated all modules then installed chan-sccp succefully. When I was trying to install sccp-mangaer i faced 2 issues:
1. the command mysql -u root asterisk < /usr/src/chan-sccp/conf/mysql-v5_enum.sql fails to create buttonconfig table due to foreign key constraint error (unable to create the foreign key on buttonconf

[2022-01-04 13:42] steve-lad commented on #54
Closed in 14.3.0.26

[2022-01-04 13:42] #54 closed, assigned to nobody

[2022-01-04 13:52] steve-lad commented on #55
The first step is not required and no longer in the WiKi

The WiKi clearly indicates that 14.3.0.x requires PHP 7

You should use FreePbx 16 or use the prior version of sccp_manager indicated in the WiKi, noting that there are many resolved issues in this release that will not be fixed as FreePbx 16 is GA.

[2022-01-04 13:52] #55 closed, assigned to nobody

[2022-01-04 14:55] samam9911 commented on #55
Thanks for the reply! The distro version does not allow upgrading to PHP 7 that's why I was asking which freepbx/asterisk/sccp-manager work together.

[2022-01-04 15:28] samam9911 commented on #55
I installed the previous version 14.2 and it worked, thanks! If I upgrade to freePBX 16 will I hit the same PHP issue? in other words to get sccp-manager to work with freepbx 16, I have to use a different flavor of linux that supports PHP?

[2022-01-04 15:51] steve-lad commented on #55
Read the WiKi which links to the ReadMe! FreePbx 16 requires PHP > 7.4.

This normally has nothing to do with the linux flavour!

Install the FreePbx 16 distro, as you are starting from scratch, and you will (should) not have any issues IF you follow the wiki which means do not run the enum script in the db - the Sccp_Manager installer will do everything

[2022-01-05 05:01] samam9911 commented on #55
I upgraded to freepbx 16 distro and got the latest version of sccp-manager. Thanks a lot. wish it had a bulk load, it would have come so handy

[2022-01-06 00:34] samam9911 commented on #34
that would be a great feature to have and very much needed

[2022-01-06 14:02] steve-lad commented on #53
Closed by 14.3.0.27

[2022-01-06 14:02] #53 closed, assigned to nobody

[2022-01-08 03:58] samam9911 opened #56 "VLAN for PC port"
My PFsense router/firewall is configured with Voice VLAN and Data VLAN. I don't see where in sccp-manager I can tell it to use the data VLAN on the pc port of the phone. Is this possible in sccp-manager/freepbx for cisco phones? if not is this considered in any future releases? I have the latest version 14.3.0.27
Thanks!

[2022-01-11 19:39] samam9911 opened #57 "Paging/Intercom seems to be not working on cisco 7960/7940"
When I try to intercom or page a phone, it rings twice and disconnects instead of auto answer. Not sure if all models do that but all I have is 7960 and 7940.
am I missing a setting that would correct this behavior? I searched the issues but didn't find anything about it
Thanks!

[2022-01-12 17:16] #56 closed, assigned to nobody

[2022-01-12 17:18] samam9911 commented on #56
pc port vlan seems to be handled through the switch that's the cisco phones are connected to. Needs no configuration on freepbx other than enabling the PC Port. In case a newbie like me comes across that situation

[2022-01-14 06:55] edleam opened #58 "Generated Cisco phone XML configuration files invalid"
sccp_manager version: 14.3.0.30
7945 firmware: SCCP45.9-4-2SR3-1S

Hi,
XML files generated via sccp_manager appear to use 'on' and 'off' for options where a boolean is expected. I'm unsure if it is my specific version of firmware on the phones themselves that is unable to interpret this.

I have tried both Cisco 7945 and Cisco 7940 IP phones. The 7945 boots but some settings on the phone (that are

[2022-01-14 11:13] sq8mvy commented on #58
sccp_manager version: 14.3.0.30
7975 firmware: SCCP75.9-4-2SR4-3S

I confirm. For Cisco 7975, "on" and "off" values ​​are also generated instead of "1" and "0"

Fragment of logs from Cisco 7975:

3757: WRN 23:54:45.216449 JVM: Startup Module Loader|cip.xml.aq:  - XML Parser Warning: Unknown element 'name' in element '/device/devicePool/dateTimeSetting' (line=20)       <---- entry `<name>UTC</name>

[2022-01-14 11:54] sq8mvy opened #59 "The button function in DeviceButtons cannot be removed."
sccp_manager version: 14.3.0.30
FreePBX 16

You cannot remove a button function in DeviceButtons - set it to empty or change the function type. After saving the settings, the buttons still have their previous functions assigned to them.
Adding and saving functions to empty buttons works fine.

[2022-01-14 18:56] samam9911 opened #60 "undefined index: ntp_config enabled error when saving device in sccp-manager"
![image](https://user-images.githubusercontent.com/97066890/149568841-55b0676b-dab3-4cc8-8326-3d5f967fcb64.png)

I am using the latest version 14.3.0.30
when adding a device and try to save I get the above error, which started all of the sudden! I was able to add devices before successfully using the same version. I restarted the freepbx and still no luck.
the error:
undefined index: ntp_config en

[2022-01-15 18:10] samam9911 opened #61 "14.4.0.1 error during upgrade"
PDOException (42000)
SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'IF EXISTS _description, DROP COLUMN IF EXISTS _loginname, DROP COLUMN IF EXISTS ' at line 1

[2022-01-15 22:14] samam9911 commented on #60
uninstalled the module then installed it again and that took care of it.

[2022-01-15 22:14] #60 closed, assigned to nobody

[2022-01-15 22:17] samam9911 commented on #61
I tried uninstalling the current module, downloading the 14.4.0.1 then install, still same error.
FreePBX 16.0.10.49
Current Asterisk Version: 18.6.0

[2022-01-16 00:40] sq8mvy commented on #61
sccp_manager must be installed from the console like that:
`fwconsole ma download https://github.com/chan-sccp/sccp_manager/archive/refs/heads/develop.zip`
`fwconsole ma install sccp_manager`
`fwconsole reload`

Update like this:
`fwconsole ma upgrade sccp_manager`
`fwconsole reload`

This is how it works for me for FreePBX 16.0.10.49, Asterisk 18.9.0
Installation and update via website from "Admi

[2022-01-16 01:00] samam9911 commented on #61
Thanks for the reply. I did try the install from the console and it failed, but downloaded it from module admin. I will try the download from the console, then install/update.
Do I need to install the software in certain folder, like /usr/src?

[2022-01-16 01:06] samam9911 commented on #61
Still didn't work. Please see below:
# fwconsole ma download https://github.com/chan-sccp/sccp_manager/archive/refs/heads/develop.zip
No repos specified, using: [standard,stable] from last GUI settings

Starting module download from https://github.com/chan-sccp/sccp_manager/archive/refs/heads/develop.zip ...
Processing
Downloading...
 139/139 [============================] 100%
Finished downloadin

[2022-01-16 01:17] samam9911 commented on #61
I also tried to uninstall current version then go to console and download/install from there and still failed with same error. Please see below:

# fwconsole ma download https://github.com/chan-sccp/sccp_manager/archive/refs/heads/develop.zip
No repos specified, using: [standard,stable] from last GUI settings

Starting module download from https://github.com/chan-sccp/sccp_manager/archive/refs/hea

[2022-01-16 07:26] sq8mvy commented on #61
Maybe you have too old version of MarialDB ...
I'm sorry, but I don't know much about php and databases so I can't help much.

I had no problems with such versions:

Module | Version | Info
-- | -- | --
extconfigs | 13.2.0 | Default Settings and Enums ver: 13.2.0
dbinterface | 14.0.0.1 | Data access interface ver: 14.0.0.1
aminterface | 13.0.4 | AMI data ver: 13.0.4
XML | 13.0.6 | Create XML data

[2022-01-16 13:09] samam9911 commented on #61
My MariaDb is 15.1 (same as yours). The only difference I see between your versions and mine is the Asterisk. Yours is 18.9 while mine is 18.6. I was on freepbx 15 and used the upgrade to go to 16 so had no choice of which Asterisk to use. Not sure if Asterisk has anything to do with the error since it's a SQL error on Drop column. But if there is a way to upgrade Asterisk, I will try and see if i

[2022-01-16 20:59] samam9911 commented on #61
the new version 14.4.0.2 installed fine with no issues from the module admin. Thanks steve-lad

[2022-01-16 20:59] #61 closed, assigned to nobody

[2022-01-18 17:44] steve-lad commented on #58
Thanks for reporting this. Your analysis is correct and this was fixed in v14.4.0.1

[2022-01-18 17:44] #58 closed, assigned to nobody

[2022-01-18 17:49] steve-lad commented on #59
Thanks for reporting this. It is confirmed as an issue and will be treated

[2022-01-18 17:50] steve-lad commented on #57
@dkgroot Is this an issue with chan-sccp, or these older phones?

[2022-01-18 17:59] steve-lad commented on #57
@dkgroot default AutoAnswerRingTime is respected, but why the disconnect?

[2022-01-18 18:04] steve-lad commented on #34
Bulk Handler functions with Sccp_Manager - these are FreePbx controlled parameters (Extensions, Routes, DIS).

Please be more specific on what you want to achieve (and why) .

[2022-01-19 09:16] szenzero commented on #34
Hello,
the idea is to have something similar to Cisco's [BAT](https://www.cisco.com/c/en/us/td/docs/voice_ip_comm/cucm/bat/11_5_1/CUCM_BK_B4FA1139_00_bulk-administration-guide_1151/CUCM_BK_B4FA1139_00_bulk-administration-guide_1151_chapter_01.html) especially if you have multiple (50+/100+) phones/lines/extensions to add/modify.
In theory, you could use FPBX Bulk Handler to insert routes/DIDs and

[2022-01-19 11:26] steve-lad commented on #59
In v14.4.0.5 this has been fixed. Additionally, buttons can be added in any order. Update via module admin

[2022-01-19 11:26] #59 closed, assigned to nobody

[2022-01-19 13:44] steve-lad commented on #29
Closing this issue. The suggested functionality has been added, and now the info section and the devices tab have additional warnings.
@dkgroot Given the potential risk, why is the chan-sccp default enabled?

[2022-01-19 13:44] #29 closed, assigned to nobody

[2022-01-20 15:40] steve-lad commented on #34
This is still not clear to me, even if the concept is understood.

From a phone perspective, this would mean creating an error free csv/json with all parameters and then importing; mac addresses alone would be a pain going this route. Instead, using existing functionality, simply set site defaults, connect the phone(s) using hotline, and then for each phone, add a description (optional) and save a

[2022-01-20 16:00] steve-lad commented on #32
Hi, so can you confirm that as of 14.3 (->14.4 via module admin) - that the required functionality is already there?

If so, are you suggesting improved naming/ help for Device Connect Address?

BTW 14.2 is dead - it was an initial version from PhantomVL, but has long since been replaced and the current stable branch is v14.4 - I will be updating the WiKi shortly

[2022-01-20 16:29] samam9911 commented on #34
is there a wiki or more info on how to connect phones using hotline? Thanks!

[2022-01-20 17:09] steve-lad commented on #34
Hotline is detailed in the Help (for Hotline) in Server Config->Devices tab. It is a security risk and should only be used on internal networks. Depending on subnet rules and size, it is fast to achieve a connection . You may need to set the phone TFTP address on your phone manually if it cannot find the tftp server (ie if you do not advertise by dhcp for that subnet).

Its the way that I convert

[2022-01-20 18:59] samam9911 commented on #34
Thanks steve-lad! wish I knew this before I entered all my 70 cisco phones manually. It would have worked perfectly for my situation as I just replaced my dead cisco pbx with freepbx, same dhcp server, same tftp server, and phones already sccp.

[2022-01-20 21:08] steve-lad commented on #34
Glad to have helped. Maybe you could write something up on the WiKi? BTW, it will be even faster in v16 :-)

[2022-01-21 08:52] steve-lad commented on #34
This module already handles sccp_manager line (extension) data via export. I have tried a simple import, but there appears to be some issues with this module - it does a limited parse for the preview, and the data can neither be saved nor updated.

I suspect that the issue is that it tries to insert a primary key of 0 for the first row!

Let me know if it works for you and attach a sample csv (tha

[2022-01-21 09:19] szenzero commented on #34
Yeah, by using hotline, all of your phones will autoregister (if dhcp is setup correctly) but you'll still have to manually assign lines(extensions) to devices (one by one).
An example use case would be if you wanted to migrate from Call manager deployment to Asterisk+SCCP. You could export data from CCM and get something like this (and much much more):
![image](https://user-images.githubuserconte

[2022-01-21 09:45] steve-lad commented on #34
I think that this is the only use case - otherwise you will not have all of the mac addresses. Can you attach, after obfuscation or password protected) the output file that you refer (export from CCM) - I would like to see what data is available (ie line data (extensions have to exist) and button assignments (assuming multiple lines)

[2022-01-21 10:52] szenzero commented on #34
Couldn't find any phone with multiple lines/DNs assigned, but there is one with speeddials.
[Book11.xlsx](https://github.com/chan-sccp/sccp_manager/files/7912630/Book11.xlsx)

[2022-01-21 11:27] szenzero commented on #32
Yes, the functionality is there (Device Connect Address), seems like a bug in GUI/backend. If you try to add the secondary address (via the plus sign)
![image](https://user-images.githubusercontent.com/50993009/150518792-e2279702-edf2-41a4-910a-1da39680b6df.png)
after saving, you'll get something like this:
![image](https://user-images.githubusercontent.com/50993009/150518902-697c9a52-38c6-40d4-bc

[2022-01-21 15:17] steve-lad commented on #32
OK thanks for clarifying - will have a look

[2022-01-26 04:23] samam9911 commented on #57
Any one tried paging pro with cisco sccp (not sip) phones? Does multicast work? from what I read that the phones need to be configured to listen to the multicasting ip:port (maybe xml push), would paging pro be able to communicate and configure the phones to listen to the multicasting port:ip?

[2022-01-26 20:08] dkgroot commented on #57
@samam9911
1. I don't use freepbx, so i don't know what it uses to perform intercom / paging. I am assuming the simply call multiple phones at ones and put them in a large one way bridge. To make paging working in this simple fashion you need to follow: [FreePBX_Intercom-Paging-HowTo](https://github.com/chan-sccp/chan-sccp/wiki/FreePBX_Intercom-Paging-HowTo) to support sccp phones. I don't know wh

[2022-01-27 11:26] steve-lad commented on #32
Thanks for reporting this. It is fixed in 14.5.0.1

[2022-01-27 11:26] #32 closed, assigned to nobody

[2022-01-27 17:01] sq8mvy opened #62 "Update error to 14.5.0.1"
I have upgraded to the latest version 14.5.0.1 of sccp_manager.
I get errors and the installation fails:

root@odroidn2:~# fwconsole ma upgrade sccp_manager
No repos specified, using: [standard,stable] from last GUI settings

Starting module download from https://github.com/chan-sccp/sccp_manager/archive/refs/tags/v14.5.0.1.tar.gz ...
Processing
Downloading...
 143/143 [===========================

[2022-01-27 20:15] sq8mvy commented on #62
Version 14.5.0.3 now installs correctly.

[2022-01-27 20:15] #62 closed, assigned to nobody

[2022-01-28 23:31] ghost opened #63 "After module update, some settings are reset to defaults"
FreePBX 16.0.10.50
When upgrading to version 14.5.0.4, some settings change to default
![2-Config-Device](https://user-images.githubusercontent.com/98538479/151635442-c117e2e3-04eb-4581-86e1-b71ab66c4570.png)
![3-Config-Advanced](https://user-images.githubusercontent.com/98538479/151635449-3d3c672b-add5-43d1-a29f-1b1d37192735.png)

[2022-01-28 23:34] ghost opened #64 "Some settings appear to be not set in site defaults when "Use site defaults" button is selected"
Some settings are inactive and there is no way to change them. Why
![ConfigDevice](https://user-images.githubusercontent.com/98538479/151635636-d4d17729-789a-4983-9d21-1bc67341f4ea.png)
?

[2022-01-28 23:37] ghost opened #65 "The hardware device drops the line association when the associated line is edited (and saved)"
If you change and save the line (Extension), and then apply the FREEPBX settings, then this associated line with SCCP Phone will disappear from this device in the Phone Manager item
Every time you need to add this line on the device
![EditLine](https://user-images.githubusercontent.com/98538479/151635812-2c0e213a-a760-41b1-8580-2fc7930963a6.PNG)

[2022-01-28 23:40] ghost opened #66 "Remap rules do not support 7925"
there is no reassignment for phone 7925 in the sccpManagerRewrite.rules file. please add

[2022-01-28 23:42] ghost opened #67 "7937 phones do not go into sleep mode"
The 7937 phone does not go into sleep mode and the screen is lit for 24 hours. How to fix it? Is there a solution? Need help

[2022-01-29 00:24] ghost opened #68 "Callgroup and Pickupgroup & Namedcallgroup and Namedpickupgroup"
FreePBX does not have the ability to edit group data. why? it's a necessary tool. please add it.

This setting does not affect anything. Can you explain why it's here? Or what does she do?
![DefPG](https://user-images.githubusercontent.com/98538479/151636796-056da237-60d3-4fd7-805d-81bc37c26cbf.PNG)

If the values are entered into the database, then for lines 108,133,134,135,136,147, Pickup and Gr

[2022-01-29 00:27] ghost commented on #68
Postscript. The maximum number of pickup groups in asterisk is 63

[2022-01-29 00:58] ghost opened #69 "Line settings are included in add device and therefore ignored - need to move these settings to line"
it is logical to assume that when you add a new device, it takes some device settings from the server configuration. Such as for example:
Message Lamp On Call
Call history stored book
Call Forward
Transfer
Call Forward busy
Call Forward NO ANSWER
DND Button on Device

Or the same thing with lines, the server configuration specifies some parameters, and when creating a line, it does not take values

[2022-01-29 01:07] ghost commented on #68
I hope I explained it in understandable terms.

[2022-01-29 08:42] dkgroot commented on #70
Chan-sccp does not know about internal cid's or outbound cid's, it has no knowledge of such worldly things. From the log above, the CID is being set during dialplan interaction, ie: FreePBX is setting/overriding the cid information during the call. This means the issue you raised is more FreePBX / sccp_manager related. Sounds like i am passing the buck and in this case i think that is valid.

@ste

[2022-01-29 09:00] steve-lad commented on #67
Please attach the console logs from the 7937 during reload

[2022-01-29 09:08] dkgroot commented on #71
Sorry guys, i did not notice this issue ticket for a while, only to find out it's a freepbx/sccp_manager question/issue. I transferred it here. Looks like @waffle-stomper might have already provided the solution on how to make it work, so maybe the ticket can already be closed.

[2022-01-29 09:29] steve-lad commented on #71
As pointed out by Waffle-stomper, for this softkey to work in chan-sccp, transfer must be enabled.

The Sccp_manager setting (which is in SCCP Connectivity > Phones Manager > [Edit Extension] > Sccp ) is correctly saved in the current version.

This issue should be closed after verification.

[2022-01-29 15:10] #71 closed, assigned to steve-lad

[2022-01-29 21:39] steve-lad commented on #68
I am glad that @Nortien is contributing for you -- perhaps she should consider a donation to chan-sccp!

Your explanation is clear, and the limitations of non-named groups equally (known for a long time and largely avoided).

Pickup Group and Call Group are deprecated, not exposed,  and not supported in Sccp_manager. This (hacked) functionality will disappear in the next release because of the abo

[2022-01-29 21:39] #68 closed, assigned to nobody

[2022-01-29 22:09] steve-lad commented on #69
Thanks for your comments - sections are clearly outlined and new devices do inherit the server settings, which in turn, inherit chan-sccp defaults.

Device(hardware) settings are different from line (extension) settings - the examples that you list are all line settings and therefore not inherited by devices.

[2022-01-30 08:24] steve-lad commented on #64
It appears that changes have been made to your database outside of sccp_manager. The conference settings should never propose to use site defaults as these are not currently modifiable in the site configuration.

In a normal system the conference settings work as expected.

Park and mwioncall were issues and will be fixed in an upcoming release.

[2022-01-30 09:58] dkgroot commented on #67
Maybe some of the display related "backlight" entries are missing from the cnf.xml template files.

- displayRefreshRate
  The refresh rate of the display to prevent flicker caused by some lighting environments.

  0 	Normal 	1 	Flicker Correction

    `<displayRefreshRate>0</displayRefreshRate>`

- daysDisplayNotActive
  Comma separated list of days that the phone's display is not active and will

[2022-01-30 10:57] ghost commented on #64
Nothing was entered into the database at all and nothing was changed. This is a new installation of sccp_manager

[2022-01-30 11:32] sq8mvy commented on #64
I checked the settings for the "Conference" section from the screenshot. I must confirm that I cannot change these settings either - the buttons are inactive.
I didn't change anything manually in the database.

[2022-01-30 12:02] ghost commented on #67
there are no line data in the template file `SEP0000000000.cnf.xml_7937_template`, so there are none in the file `SEP.cnf.xml`. perhaps that's why the phone does not go into sleep mode. I'll check it out, try to add lines. Most likely this will solve the problem.

[2022-01-30 13:04] dkgroot commented on #67
Note: 7937 running in SCCP mode, will not have any line information. Line Information is only for Cisco phones running in SIP mode.

Adding the `display` and `backlight` entries mentioned above to the vendorConfig section ought to work. We don't own each and every type of phone, so we cannot verify support on all models of phones, we need community support and help with these kinds of things. Plea

[2022-01-30 15:29] ghost commented on #67
how does sip relate here? I'm only talking about idle display time, which is what this theme is about. I will check everything and write about the results.

[2022-01-30 16:07] ghost commented on #69
No, not everyone inherits. you reject the facts, so I don't need to create topics, since you just close them.

[2022-01-30 16:45] steve-lad commented on #69
Put simply, you cannot inherit what you do not own. I am reopening this issue because these settings are in the wrong place and therefore misleading. This is a legacy issue. They will be moved to line settings.

[2022-01-30 16:50] ghost commented on #69
at the moment I'm installing a new freepbx and will install sccp_manager again to show on the video, since you don't believe me :)

[2022-01-30 16:54] steve-lad commented on #64
This is a duplicate, or overlap of #69 .

The customise/ set too site default buttons for the conf section that you are seeing should not (cannot) be drawn unless something has been modified. It has been verified on a fresh install.

![Screenshot 2022-01-30 at 17 52 02](https://user-images.githubusercontent.com/72376554/151709085-5a6dfb39-a0a5-4db1-bd83-13eb0f544f96.png)

Additionally, the confere

[2022-01-30 16:57] steve-lad commented on #69
You are not reading, and understandably perhaps, do not understand the complex data structure of chan-sccp. Put simply, these buttons will disappear in add device - They have no meaning!

[2022-01-30 17:07] ghost commented on #69
not "perhaps". I definitely don't understand)

[2022-01-30 17:07] #69 closed, assigned to nobody

[2022-01-30 18:16] ghost commented on #64
I haven't got it working on a fresh installation right now. You can show yours .bash_history file? Maybe I'm doing something wrong

[2022-01-31 06:28] ghost commented on #67
it didn't work(

[2022-01-31 10:59] dkgroot commented on #35
Before re-introducting index.php, can you look if it's possible to make an apache config that uses the same rewrite rules file, so that the old index.php would not be required (similar to what i did for nginx). If need be it would still be better to write a generic index.php that re-uses the rewriterules file in php and dynamically parses the request. Having one source of 'truth' is always preferr

[2022-01-31 11:06] dkgroot commented on #67
The vendorConfig part of the cnf.xml is mostly the same between the SIP and SCCP implementation. There are some differences, which only experimentation will be able to proof. Can you show us the cnf.xml you created for the 7937 phone. Can you also show the device console(s) log from that phone so we can see what it doesn't like about the new cnf.xml.

[2022-01-31 11:10] steve-lad commented on #63
Thanks for this well prepared issue. This has been identified and addressed, and will be fixed in the next release.

[2022-01-31 11:10] #63 closed, assigned to nobody

[2022-01-31 16:12] steve-lad commented on #65
Notes for posterity: This is actually a freePBX issue - its author describes the approach as insanity!
When editing a device(extension), freePBX first deletes it and then adds it. It never signifies the context of the delete to the class.
As a result the associated line linkages are deleted, but not recreated - Sccp_manager is subservient to freePBX!
Will file an issue with Sangoma, and look at kl

[2022-01-31 16:27] ghost commented on #65
So it can't be fixed :(
let's hope for good events

[2022-01-31 16:51] Armrest90 commented on #67
[rockpile.log](https://github.com/chan-sccp/sccp_manager/files/7972578/rockpile.log)

[SEP0004F2F2BBF1.cnf.xml.txt](https://github.com/chan-sccp/sccp_manager/files/7972584/SEP0004F2F2BBF1.cnf.xml.txt)

[2022-01-31 19:38] ghost commented on #67
fixed, thanks

[2022-01-31 21:51] steve-lad commented on #67
So what was the solution - can you share the solution or the SEP to help others?

[2022-02-01 09:11] steve-lad commented on #65
Implement delete via destructor

[2022-02-01 09:11] #65 closed, assigned to nobody

[2022-02-01 21:47] samam9911 commented on #57
with the marco-2way-answer added in custom_extensions file, paging works. Multicasting still acts as individual paging, so for 70 phones it will dial 70 extensions which is a kill

[2022-02-11 09:58] TheRealBeef opened #73 "After changing Sound Language in FreePBX, changes do not propogate to sccp_manager controlled phones - sccp_manager v14.5.0.4"
I'm not 100% sure whether this is a FreePBX issue or a sccp_manager issue, as I only have SCCP phones and can't test fully by myself, but its fairly easy to reproduce in order to resolve.

To reproduce: Add a sound language to FreePBX under the Admin/Sound Languages module, then under Admin/Sound Languages/Settings change the 'default' language to something other than English. The "channel" langua

[2022-02-16 09:35] metanot opened #74 "cid_num in table sccpline does not fill in when creating SCCP extension"
Sccp Manager v14.5.0.4

At some point all newly created extensions does not have cid_num filled with extension number, therefore all internal calls from that extensions shows only info from cid_name column

(In fact it's a rather useful for cases, where i need to hide extension number in incoming calls, but i think FreePBX can handle such cases with other tools :) )

Here is a screenshot without f

[2022-02-22 23:25] luna-xenia opened #75 "Cisco 8841 phone template"
I have just bought an 8841 phone for use in sccp manager (that hasn't arrived yet), as I saw it was compatible in my phones list. The only worry I have is that it only shows 1 button when there are 10 for this model phone. I was wondering if this is expected and if the phones even work with chan SCCP and SCCP manager. I have the enterprise firmware and everything like that, as well as SIP being en

[2022-03-08 14:44] jpanzer1 opened #76 "SCCP extensions tab disappears from FreePBX Extensions module"
After a certain period of time, notably after doing module updates, the SCCP extensions tab seems to disappear from the main FreePBX extensions page. Seems as though after module updates, the hook is being removed from the Extensions page.

As a result, you can no longer add SCCP extensions. If you do so, you get an error when you attempt an add due to a "null value". Existing extensions still fun

[2022-03-09 08:47] Zw1d opened #77 "Auto answer attempt on Cisco 7962 hangs entire pbx"
Hello everyone (and Diederik!)
I have recently updated SCCP from 33da09010fa8b9f139fa302df5ac7776a297b0d7 to c1533a6b5ab5aa77fd55f432884a56d1c9601588 (quite a gap - ~2 years), because I was getting some dropped calls. That issue seems to be resolved, however just found out a new, serious one.
I have been using a custom extension to get auto answer mechanism on some phones, which effectively called

[2022-03-09 08:49] Zw1d commented on #77
Damn, i didn't mean to post in sccp_manager section, sorry.

[2022-03-09 08:49] #77 closed, assigned to nobody

[2022-03-28 17:52] mbielech5 opened #79 "HTTP Country Locale Phone Provisioning Issue"
Hello All:

I am trying to setup HTTP provisioning instead of TFTP due to decreasing the Cisco phone's boot-up time. I am not sure whether to post this issue here at `sccp_manager` or under `provision_sccp`, but the two are closely connected to each other.

To start off, I have installed `chan_sccp`, `sccp_manager`, and `provision_sccp` in that order on a FreePBX 16 system with Asterisk 16. The De

[2022-03-28 18:01] mbielech5 opened #80 "Pushed a new commit to the 'develop' branch, which handles alertinfo2ringtype conversion nicely and correctly this time."
Is it possible to expose the `ringtype` setting to the `sccp_manager` FreePBX module in a newer release of `sccp_manager`? Or, is there a `chan-sccp` '`_custom' .conf`' file that `ringtype` could always be set to `inside`?

I can set it manually within the `sccp.conf` file, but any server config change/save with the `sccp_manager` module of FreePBX overwrites/removes the `ringtype` parameter.

Pus

[2022-03-28 18:32] mbielech5 commented on #79
Also, here is my server info screen:

![SCCPServerInfo](https://user-images.githubusercontent.com/45665652/160463563-fedd713c-8938-415d-9a38-c55d0283b5a6.PNG)

[2022-04-07 11:12] mikeSerg commented on #9
it didn't work for me (freepbx 16 distro with Asterisk 18)
### (problem solving below)

sccp_chan was installed by this steps:

1)
yum update -y
yum upgrade -y
yum install git asterisk-devel -y
cd /usr/src
git clone https://github.com/chan-sccp/chan-sccp chan-sccp
cd chan-sccp
./configure --enable-conference --enable-advanced-functions --enable-distributed-devicestate
make -j2 && make install

2)

[2022-04-13 01:30] waffle-stomper opened #81 "Voicemail not working"
Voicemail cannot be accessed from SCCP clients. I'm not sure if this is caused by chan_sccp, sccp_manager, or if I've made some mistake during installation.

**chan-sccp version:** Release 4.3.5 develop - commit c1533a6b5ab5aa77fd55f432884a56d1c9601588

**sccp_manager version:** v14.5.0.4

**asterisk version:** 18.11.0

**freepbx version:** 16.0.17

**Reproduction Steps:**
1. Install the FreePBX 1

[2022-04-15 03:18] waffle-stomper opened #82 "SCCP Extensions tab disappears when FreePBX Core module is upgraded"
When the FreePBX Core module (Admin > Module Admin >  Applications > Core) is upgraded, the SCCP Extensions tab disappears from Applications > Extensions.

**Reproduction Steps:**

1. Install the [FreePBX 16 distro from March 2022](https://downloads.freepbxdistro.org/ISO/SNG7-PBX16-64bit-2203-1.iso)
2. Install chan_sccp
3. Install SCCP Manager
4. Use the GUI or command line to upgrade the Core mod

[2022-04-16 09:15] waffle-stomper commented on #82
Also affects FreePBX 15.0.17.67 / Asterisk 16.20.0 / chan_sccp Release: 4.3.4 develop - b0b3cdb / SCCP Manager 14.0.0.2.

Core module was upgraded to 15.0.22.

Re-installing SCCP manager did not restore the SCCP Extensions tab in this case

[2022-04-17 03:11] mbielech5 commented on #57
Hello All:

I too am having an issue with the paging/intercom in FreePBX and chan-sccp. I have paging working with both the Cisco and non-Cisco phones together, and intercom works by dialing a Cisco intercom extension from a non-Cisco extension (e.g. PJSIP and MicroSIP), but dialing a Cisco intercom extension from another Cisco extension (regardless if it is an intercom extension or not), the dest

[2022-04-23 11:58] pelowj opened #83 "Problems on fresh install of FreePBX 16"
Hi all,

I'm having endless trouble with SCCP Manager on a fresh install of a FreePBX distro (SNG7-PBX16-64bit-2203-1) running FreePBX 16.0.19 with Asterisk 16.25.0.

chan_sccp is installed and appears to be running correctly. I then add version 14.3.0.13 of the module and install via fwconsole in the cli. This completes successfully and I then upgrade to 14.5.0.4 via fwconsole ma upgrade sccp_mod

[2022-04-25 21:01] rikyenns4 opened #84 "Cannot Load List of SCCP Phones"
When opening the SCCP Phone Manager, I receive an error message:

SQLSTATE[HY000]: General error: 1267 Illegal mix of collations (utf8mb4_unicode_ci,IMPLICIT) and (utf8mb4_general_ci,IMPLICIT) for operation '=' File:/var/www/html/admin/modules/sccp_manager/sccpManClasses/dbinterface.class.php:171

The SCCP Extensions tab seems to work fine, but when I add new SCCP Phones, they seem to add fine, bu

[2022-04-26 09:57] MrAmazoni commented on #84
Experience the same one.

[2022-05-09 17:31] samjones108 opened #85 "Cisco 99XX phones not registering"
Hi All,

I am experiencing an issue where no Cisco 99XX series phone will register to my FreePBX instance. They are added inside of SCCP_manager and have extensions. They are receiving there configuration file from TFTP that SCCP manager is creating but the phone just stays on "phone not registered" there is no errors in the status window other than the repeating "no trust list installed and updat

[2022-05-10 19:01] carlsondan commented on #74
Yes, have a look at Sccp.class.php. I'm not sure why this is being done, but effectively, the code is taking what is being populated in the outboundcid field and assigning it to the cid_num field in the sccpline table. If you add a new line and the outboundcid field is left blank then the cid_num field in the sccpline table is given a null value. This causes problems for internal calling and for a

[2022-08-09 03:36] Youpiiiii commented on #75
Have you succeed to plug the Cisco 8841 with chan SCCP and SCCP manager?

Thank you

[2022-08-13 14:20] jpanzer1 commented on #82
I have found that the only way to "re-hook" the SCCP manager is to uninstall it completely, and reinstall it. Unfortunately, the bad side effect of this is that it will wipe out all SCCP extensions, disconnecting them. The DB must be restored or you must re-add all extensions. But, after a period of time, the SCCP manager tab will eventually disappear.

[2022-08-29 19:38] volkjohn commented on #83
I ran the following commands to fix ntp_config_enabled problems. Run at your own risk!

Run `fwconsole mysql` from your PBX.
Then run the following command `INSERT INTO sccpsettings VALUES ('ntp_config_enabled', 'off', 98, 2, 'off');`

You will need to run a similar command for ccm_address, but I'm not sure what should go in there right now.

I believe the cause of this is not all the default valu

[2022-09-04 21:27] samam9911 opened #86 "save+continue gives undefined ip index xmlinterface.class.php:260"
When I change anything in the sccp phone manager and click save+continue I get the error:
undefined index: ip
File: /var/www/html/admin/modules/sccp_manager/sccpManClasses/xmlinterface.class.php:260
when I go to line 260 in the file I see this:
$xnode->$nodeName = $netValue['ip'];
![xmlinterface ip index error](https://user-images.githubusercontent.com/97066890/188334090-8279ab0c-f9c2-430f-92ba-92

[2022-09-08 02:59] samam9911 commented on #86
Exception thrown with message "Fields are empty::"

Stacktrace:
#5 Exception in /var/www/html/admin/libraries/utility.functions.php:123
#4 die_freepbx in /var/www/html/admin/modules/core/Core.class.php:1432
#3 FreePBX\modules\Core:convertRequest2Array in /var/www/html/admin/modules/core/functions.inc.php:3954
#2 core_devices_add in /var/www/html/admin/modules/core/functions.inc.php:5241
#1 core_de

[2022-09-20 13:17] MadFlasher commented on #86
Did you try to reinstall sccp_manager module ?
Look like I've had same error month ago after an upgrade of FreePBX

[2022-09-21 16:15] samam9911 commented on #86
I didn't try the reinstall. I felt it was something got corrupted in the database.
if I uninstall then install sccp_manager will I have to recreate all sccp extensions and configuration? will the uninstall remove what was configured

[2022-10-07 17:14] numpad0 commented on #86
I noticed every interface access causes 3-5 seconds of disk *writes*, and seems to throw duplicate primary key errors when interrupted. There is "BackUp Config" button in Sccp Connectivity -> Server Config -> SCCP info page, and downloaded backup file do seem to contain database files.

[2022-10-07 20:18] samam9911 commented on #86
Yes seems there is something wrong with database. Even as I delete extensions and apply config, they will still show up and I refresh my browser. Add a new sccp extension throws the same error about a field being empty then when I go back it asks me to apply config and the weirdest thing happens! the extension is showing in SCCP and as a VIRTUAL extension! I can assign a phone to it but it can NOT

[2022-10-07 20:19] samam9911 commented on #86
![image](https://user-images.githubusercontent.com/97066890/194646393-86db3312-0b7a-4869-90f7-0b46d2a0b4aa.png)

[2022-11-02 22:51] Rexz34 commented on #86
I am now at this exact same problem on a fresh install. Did anyone find a way around it?

[2022-11-09 00:53] samam9911 commented on #86
I found out that uninstall the sccp-manager then install it fixes the issue but I lost all sccp-phones that were configured (of course including buttons configuration that some phones had). Wish there was a way to save all that info and restore it before doing the uninstall.